nav{
  display: flex;
  background-color: #000;
}

nav .kiri{
  width: 50%;
}

nav .kiri .logo{
  color: #fff;
  padding-left: 30px;
}

nav .kanan{
  width: 50%;
  padding-top: 10px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}

nav .kanan a{
  text-decoration: none;
  color: #fff;
  padding: 1%;
}